<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Marketing_DB/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /Marketing_DB/index.html [L]
</IfModule>